body {
    font-family: Playfair Display, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    width: 400px;
    border-radius: 30px;
    border: 2px solid black;
    outline: none;
    font-size: 16px;
}

.ads-banner {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f4f4f4;
}

.website-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.website-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    /* Added cursor style */
}

.website-card:hover {
    background-color: #e0e0e0;
}

.website-card a {
    color: #ff6600;
    text-decoration: none;
}

.website-card a:visited {
    color: #ff6600;
    /* Change the color for visited links */
}

.website-card h2,
.website-card p {
    color: white;
}

footer {
    text-align: center;
}

footer p {
    margin: 10;
}

.news {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .news p {
    font-size: 16px;
  }
  
  .news a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .news a:hover {
    text-decoration: underline;
  }